html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
}

#features {
    margin-top: 80px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.gap {
    gap: 80px;
}

#header {
    background: linear-gradient(135deg, #6d18b8 0%, #a855f7 100%);
    color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    max-width: 500px;
}

.header-text h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

.btn {
    background-color: whitesmoke;
    color: #a855f7;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    user-select: none;
    transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.btn.variant-text {
    background-color: transparent;
    color: white;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out;
}

.btn.variant-text:hover {
    background-color: rgba(255,255,255,0.1);
    box-shadow: none;
}

.btn.variant-text:active {
    box-shadow: none;
}

.btn.variant-text.space {
    margin-left: 8px;
}

.btn:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.btn:active {
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.btn-primary {
    background-color: #a855f7;
    color: whitesmoke;
}

.smartphone {
    width: 220px;
    height: 462px;
    background-color: #111;
    border-radius: 28px;
    padding: 6px;
    box-shadow: 0 4px 22px rgba(0,0,0,0.3);
}

.smartphone-screen {
    background-color: #ccc;    
    width: 220px;
    height: 462px;
    border-radius: 20px;
}

.home-screenshot {
    background: url("./images/home.jpg") no-repeat center / cover;
}

.liturgia-screenshot {
    background: url("./images/home.jpg") no-repeat center / cover;
}

.rosarios-screenshot {
    background: url("./images/home.jpg") no-repeat center / cover;
}

.oracoes-screenshot {
    background: url("./images/home.jpg") no-repeat center / cover;
}

.feature {
    padding: 80px 0;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.feature.hidden-down {
    transform: translateY(50px);
}

.feature.hidden-up {
    transform: translateY(-50px);
}

.feature.visible {
    opacity: 1;
    transform: translateY(0);
}

.feature-content {
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 800px;
    margin: 0 auto;
}

.feature-image {
    flex: 1;
    height: 400px;
    background-color: #ccc;
    border-radius: 10px;
}

.feature-text {
    flex: 1;
    text-align: justify;
}

.center-text {
    text-align: center;
}

footer {
    background-color: whitesmoke;
    padding: 60px 0;
    margin-bottom: 80px;
    text-align: center;
}

@media (max-width: 768px) {
    .header-text h1 {
        font-size: 3rem;
    }

    #header .container {
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
    }

    .gap {
        gap: 32px;
    }

    .smartphone {
        width: 167px;
        height: 350px;
    }

    .smartphone-screen {
        width: 167px;
        height: 350px;
    }

    .reverse-order {
        flex-direction: column-reverse !important;
    }

    .feature-content {
        flex-direction: column;
        gap: 20px;
    }

    .feature-text h2 {
        text-align: center;
    }
}
